global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evalution_interval: {{ prometheus_evaluation_interval }}

scrape_configs:
{% for job in prometheus_targets %}
  - name: '{{ job.job_name }}'
    static_configs:
      - targets: {{ job.static_configs[0].targets | to_json }}
{{% endfor %}}
